

.meedy_nav_manu {
    background-color: rgba(255,255,255,0.10196078431372549);
}
.meedy_menu > ul > li > a {
    color: #ffff;
}
.meedy_menu > ul > li > a:before {
    background: #fff;
}
.search-box-btn i {
    color: #ffffffc2;
    border: 1px solid #ffffffc2;
}
/* slider area */
.hero-content h4 {
    color: #fff;
    background-color: rgba(255,255,255,0.10196078431372549);
    border: 1px solid rgba(255,255,255,0.3);
}
.hero-content h1 {
    color: #fff;
}
.hero-content p {
    color: #fff;
}
.slider-dots .swiper-pagination-bullet {
    background: rgba(255,255,255,0.4) !important;
}

/* Feature area */

.feature-serction {
    background: url(../images/main-home-dark/feature_bg.jpg);
}
.feature-single-box {
    border: 2px solid #052F83;
    background: #052F83;
}
.head-title h2 {
    color: #fff;
}
.feature-head {
    border-bottom: 2px solid #ffffff26;
}
.feature_count h4 {
    color: #ffff;
}
.feature-content p {
    color: #ffffff96;
}
.bx_2 .feature_count h4 {
    color: #fff;
}

/* About Area */

.counter-right-side.style_two .counter-single-box {
    filter: none;
    background-color: #052F83;
    border: 2px solid #0048A9;
}
.style_two .counter-desc p {
    color: #fff;
}
.medizet-section-title p {
    color: #ffffff96;
}
.about-service-list ul li {
    color: #ffff;
    filter: none;
    background-color: #052f84;
    border: 1px solid rgba(0,126,255,0.3);
}
.author-bio span {
    color: #d6d7df;
}
.author-bio h3 {
    color: #fff;
}
.about_experience h3 {
    color: #ffffffb3;
}
.medizet-author {
    border-bottom: 1px solid #ffffff36;
}

/* Service Area */
.service-section {
    background: #012A7C;
}

/* Why choose us section */

.why-choose-us-serction {
    background: #012A7C;
}
.choose_list ul li {
    color: #fff;
}
.choose_main_bx {
    background-color: #052F83;
    border: 1px solid #007dffb8;
    filter: none;
}
.choose_counter h1 {
    color: #ffff;
}
.choose_title h3 {
    color: #fff;
}

/* Team Area */

.team-section {
    background: #012A7C;
}
.team-single-box {
    background-color: #052F83;
    border: 2px solid #052F83;
}
.team-content h5 {
    color: #0065FF;
}
.team-content h2 {
    color: #fff;
}

.brand-section {
    background: #01297D;
}
.blog-section {
    background: #002671;
}

.meta_blog ul li {
    color: #ffffffc7;
}
li.blg-admin a {
    color: #ffffffc7;
}
.meta_blog ul li:before {
    background-color: #017AFC;
}
.blog-title h2 a {
    color: #fff;
}

/* Start Home Two Css */

.skill_section {
    background-color: #002671;
}
.medizet-section-title.skill_title h1 {
    color: #fff;
}

.prossess-ber-plugin span {
    color: #fff;
}
.barfiller {
    background: #324F8A;
}
.barfiller .fill {
    background: #017AFC !important;
}
.barfiller .tip {
    color: #ffff;
}

.skil_item {
    background-color: #052F84;
    border: 2px solid #017eff54;
}
.skill-content h3 {
    color: #fff;
    border-bottom: 1px solid #007eff6b;
    transition: 0.5s;
}
.skil_item:hover .skill-content h3 {
    border-bottom: 1px solid #017AFC;
}

.about_section.style_two {
    background: #002671;
}
.about_section.style_three {
    background: #012A7C;
}
.about-icon-box {
    background-color: #052F84;
    border: 2px solid #0071e46e;
    filter: none;
}
.about_icon_title h3 {
    color: #ffff;
}
.any_help p {
    color: #fff;
}
.clla_to_action.dark_style {
    background: #00256F;
}
.choose_icon_bx {
    border-bottom: 1px solid rgb(255 255 255 / 34%);
}
.counter-single-box.style_three  .counter-desc p {
    color: #ffff;
}
.counter-single-box.style_three .odometer-wrapper.counter-box-title h1 {
    color: #fff;
}
.about_experience h2.abut_count {
    color: #fff;
}